{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Ледокол "Ангара"</title>
    <link rel="stylesheet" href="{% static 'css/exp.css' %}">
</head>
<body>
<h2>Ледокол Ангара</h2>
<div class="all">
<img src="{% static 'img/кораблик.jpg' %}" alt="Ледокол">

<div class="text">
   Ледокол «Ангара» — оставшаяся частичка живой истории, 
работавшей на озере Байкал железнодорожной паромной переправы, в которую входил кроме него паром-ледокол «Байкал»,  
— находится в микрорайоне Солнечный города Иркутска.
</div>
<br>
<div class="text">
   Паром-ледокол «Байкал» мог перевозить в ледовой обстановке 25 вагонов, паровоз и до 250 пассажиров, а ледокол «Ангара» — 
багаж 10 вагонов и 160 пассажиров. Ледоколы опосредованно стали героями Русско-Японской войны 1904 – 1905 годов: на них 
одновременно через Байкал перевозилось до 3500 человек пехоты, что поспособствовало формированию армейской группировки 
на Дальнем Востоке.
</div>
<br>
<div class="text">
   Сегодня ледокол «Ангара» работает как музей. Здесь в рабочем состоянии сохранился двигатель и машинное отделение ледокола, 
развёрнута  выставка «По волнам славного моря Байкал», освещающая вехи освоения Байкала. В отремонтированной 
каюте 1-го класса для посетителей демонстрируются  фильмы о ледоколах.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>