{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Нерпа байкальская</title>
    <link rel="stylesheet" href="{% static 'css/exp.css' %}">
</head>
<body>
<h2>Нерпа байкальская</h2>
<div class="all">
<img src="{% static 'img/нерпа.jpg' %}" alt="Нерпа">

<div class="text">
   Байкальская нерпа — один из трех видов пресноводного тюленя, не встречающегося нигде кроме 
этого озера. Главное лежбище нерпы расположено на Ушканьих островах, где можно найти много 
корма и практически нет людей, представляющих основную угрозу для этих животных.
</div>
<br>
<div class="text">
   Нерпа — единственное млекопитающее озера Байкал. По морфологическим и 
биологическим признакам байкальская нерпа близка к кольчатой нерпе, обитающей в морях Крайнего 
Севера и Дальнего Востока. Есть также некоторые признаки сходства нерпы и с каспийским тюленем.
</div>
<br>
<div class="text">
   Байкальская нерпа наряду с байкальским омулем справедливо считается одним из самых 
узнаваемых брендов этого озера. Отличие состоит в том, что омуль – это символ изобилия, а нерпа, 
чей промышленный промысел запрещён, просто очень милое, безобидное создание и крайне фотогенична.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>