{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Бухта Ая</title>
    <link rel="stylesheet" href="{% static 'css/exp3.css' %}">
</head>
<body>
<h2>Бухта Ая</h2>
<div class="all">
<img src="{% static 'img/бухта.jpg' %}" alt="Бухта">

<div class="text">
   Бухта Ая — одно из красивейших мест на Байкале. Бухта расположена 
в центральной части озера, на западном побережье. Полукруглый залив длиной 800 м и шириной около 
600 м с двух сторон защищают от ветра высокие скалистые берега, поэтому здесь издавна 
останавливались суда во время шторма. 
</div>
<br>
<div class="text">
   Ая знаменита своими пещерами, расположенными на плато Улан-Заба 
в нескольких километрах к северо-западу от бухты. В 5 полостях (Ая, Октябрьская, Рядовая, 
Вологодского и Случайная) спелеологи находили скелеты рыб, возраст которых оценивается в несколько
 миллиардов лет. Пещеры Ая и Рядовая соединяются между собой, 
образуя разветвленную сеть ходов длиной до 1300 м и глубиной 60 м.
</div>
<br>
<div class="text">
   Другую достопримечательность Аи — наскальные рисунки, расположенные над водой примерно в 
100 м от берега, также непросто найти самому. Изображения животных датируются 4 веком до н. э., 
образы людей — 7 веком н. э. Сразу за пристанью возвышается лысая 
гора Ая, считающаяся у бурятов священной. Подняться на нее можно по узкой песчаной тропинке. Сверху
 открывается вид на бескрайний Байкал и бухту с одной стороны и простирающуюся Тажеранскую степь — с другой.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>