{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Пещера Мечта</title>
    <link rel="stylesheet" href="{% static 'css/exp4.css' %}">
</head>
<body>
<h2>Пещера Мечта</h2>
<div class="all">
<img src="{% static 'img/мечта.jpg' %}" alt="Мечта">

<div class="text">
   Пещера Мечта расположена на Малом море, в нескольких километрах к югу от села Сахюрта и 
переправы на Ольхон. Полость глубиной около 50 м и длиной ходов более 800 м была найдена впервые
 в 1962 г. спелеологами из Иркутска. По оценкам ученых, возраст пещеры примерно 25-30 млн лет. 
Появилась она в результате тектонического разлома и карстовых процессов.  
</div>
<br>
<div class="text">
   Мечта получила свое название из-за удивительно красивых сталактитов и кальцитовых кор 
белого и красного цветов. Интересны также карбонатные образования и сталагмиты необычных форм. 
Пещера разделяется на три «этажа», в ней много помещений, ходов, разнообразных углублений.
</div>
<br>
<div class="text">
   Внутри весьма прохладно: даже летом температура держится на уровне +2 °С. Часто встречаются 
ледяные образования, огромные сосульки. Так, ледяной сталагмит Страж достигает 4 м в высоту и 
иногда даже соединяется с верхом пещеры. Еще один необычный зал Мечты называется «Музыкальным». 
В нем расположены сталактиты, издающие мелодичные звуки даже при небольшом прикосновении. 
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>