{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Шишкинские писаницы</title>
    <link rel="stylesheet" href="{% static 'css/exp5.css' %}">
</head>
<body>
<h2>Шишкинские писаницы</h2>
<div class="all">
<img src="{% static 'img/писаницы.jpg' %}" alt="Шишкинские писаницы">

<div class="text">
   Рисунки на скалах у истоков Лены, известные под названием Шишкинские писаницы, — 
признанный в мире памятник культуры. Петроглифы с изображениями людей и животных протянулись 
на 2 км. Самым древним из них, по оценкам специалистов, уже около 15 тыс. лет.   
</div>
<br>
<div class="text">
   Несмотря на то, что с 1948 г. писаницы охраняются государством, из 2000 изображений, 
найденных Миллером, до наших дней дошло всего около 700. Из-за обилия недобропорядочных туристов, 
оставляющих надписи со своими именами на скалах, это место находится под угрозой уничтожения: 
каждый год пропадает от 30 до 50 мелких рисунков.
</div>
<br>
<div class="text">
   Первые рисунки, например, изображение дикого коня ледникового периода, появились здесь еще 
в эпоху позднего палеолита. Небольшое количество наскальной живописи относится к неолиту (4000 
лет до н. э). Это крупные животные — лоси, олени, кабаны, занимавшие главенствующее место в 
мировоззрении людей того времени. Многочисленную группу образуют изображения животных, людей и 
мифических существ, сделанные в эпоху бронзы (3000-1000 лет до н. э.). Центральное место занимают 
здесь петроглифы предков-шаманов — покровителей и защитников. Нарисованы также лодки, отправляющиеся в мир мертвых.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>