{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Черный аист</title>
    <link rel="stylesheet" href="{% static 'css/exp6.css' %}">
</head>
<body>
<h2>Черный аист</h2>
<div class="all">
<img src="{% static 'img/аист.jpg' %}" alt="Черный аист">

<div class="text">
   Черный аист встречается на территории большей части территории Иркутской области, за 
исключением Крайнего Севера, высокогорий и степей. Практически везде он редкий вид, кроме 
верхнего течения рек Лена и Киренга и некоторых участков в Присаянье. Черный аист включен в 
красные книги Российской Федерации и Иркутской области, в последней численность оценивается в 
несколько сот пар, определить точную цифру довольно сложно из-за 
скрытого образа жизни этого вида и его обитания в труднодоступных районах. 
</div>
<br>
<div class="text">
   Размером крупнее гуся. Общая окраска черная с переливчатым металлическим блеском. 
Клюв и ноги красные. Предпочитает местообитания, сочетающие высокоствольные леса или скальные 
выступы с открытыми водоемами, лугами и болотами. Гнездо строит на деревьях или на скалах. Оно 
массивное, строится из сухих ветвей, внутри выстилается мохом, травой, листьями. В кладке три-пять
 серовато-белых яиц. Насиживают кладку самец и самка. 
Питается мелкими позвоночными (рыбы, амфибии, грызуны). На Байкале отмечается с мая по сентябрь.
</div>
<br>
<div class="text">
   Отмечаются некоторый рост численности и расширение ареала черного аиста в 80-90-х гг. ХХ в. 
В некоторой степени это можно было объяснить снижением фактора беспокойства во времена перестройки,
 связанного с ростом цен на горючее топливо, и снижением посещения таежных угодий. В настоящее 
время численность стабилизировалась или незначительно снизилась. Небольшое снижение, на наш 
взгляд, связано с засушливым периодом. По нашей экспертной оценке на территории Иркутской области 
возможно обитание ориентировочно как минимум 150-200 пар черного аиста. Это довольно высокий 
показатель по сравнению с другими регионами Российской Федерации, что налагает на область 
ответственность за сохранение вида.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>