{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Ининский сад камней</title>
    <link rel="stylesheet" href="{% static 'css/exp7.css' %}">
</head>
<body>
<h2>Ининский сад камней</h2>
<div class="all">
<img src="{% static 'img/садкамней.jpg' %}" alt="Ининский сад камней">

<div class="text">
   Ининский «сад камней»  –  уникальное явление природы. Он расположен в Юго-Западной части 
Баргузинской впадины на месте выхода р. Ины из Икатского хребта и занимает площадь более 10 кв.км.
 Основной материал расположен на правобережной части Ины и выдвигается во впадину от гор более 
чем на 5 км. Здесь на очень ровной площади повсюду из-под земли возвышаются крупные глыбы гранита 
размером до 4-5 м  в поперечнике. Мощность глыбового валунного материала достигает 10 и более метров
</div>
<br>
<div class="text">
   Ининские глыбы внушительны по размерам и своеобразны по залеганию. Множество мнений было 
высказано о том, откуда появились эти глыбы. Многие считали, что эти глыбы были когда–то дном 
океана, а горы вокруг – это берега. Известный исследователь Байкала В.В. Ламакин считал, что 
нагромождения крупных глыб являются моренами (ледниковыми отложениями) древнего максимального 
оледенения, происходившего более 100 тысяч лет назад.
</div>
<br>
<div class="text">
   Существует оригинальная гипотеза, что глыбы возникли примерно 10-15 тысячелетий назад в ходе 
колоссального выброса каменного материала, повлекшего катастрофические последствия.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>