{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Кругобайкальская железная дорога</title>
    <link rel="stylesheet" href="{% static 'css/exp8.css' %}">
</head>
<body>
<h2>Кругобайкальская железная дорога</h2>
<div class="all">
<img src="{% static 'img/жд.jpg' %}" alt="Кругобайкальская железная дорога">

<div class="text">
Байкал окружают высокие горные хребты, поэтому построенная вокруг озера железная дорога — 
настоящий памятник инженерной мысли. Особенно, если учесть, что ее строительство заняло всего 
6 лет и закончилось в 1905 году. Кругобайкальская железная дорога протянулась 
на 89 км по озеру от поселка Слюдянка до порта Байкал, который находится в истоке Ангары.   
</div>
<br>
<div class="text">
   В чем же здесь изобретательность российских инженеров? Дело в том, что этот совсем небольшой 
отрезок железнодорожного полотна состоит из 38 тоннелей, протяженность которых составляет 10% от 
общей длины дороги, 248 мостов и еще 15 каменных и 3 железобетонных галерей, прорубленных в 
горах! Так что, отправляясь в путешествие по Байкалу, не забудьте купить билет на один из поездов 
по Кругобайкальской железной дороге. Правда, ходят они всего 4 раза в неделю по одному составу 
в день. Но если повезет, можно попасть и на старый (в смысле «ретро») поезд для туристов.
</div>
<br>
<div class="text">
   По объему, сложности и стоимости работ этот участок не имел себе равных среди железных дорог 
России. До революции этот короткий участок пути называли "Золотой пряжкой стального пояса России",
 пряжкой - потому что она соединила разорванную Байкалом Транссибирскую магистраль, а золотой - 
потому что по стоимости работ она превзошла все существующие в России дороги. Однако не только 
огромными капиталовложениями славится легендарная магистраль. Сегодня это, пожалуй, одна из самых красивых 
железных дорог в мире. Отовсюду приезжают сюда тысячи туристов, желающих убедиться в этом.
</div>

<div class="button"><a href="{% url 'exponats' %}" class="exponats">Назад</a></div>

</body>
</html>