{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/login1.css' %}">
</head>
<body>
<div>
    <form method="post">
        <h1>Вход</h1>

<p for="id_username">Имя пользователя:</p>

<br>

<input type="text" size="40">

<p for="id_password">Пароль:</p>

<br>

<input type="text" size="40">

<br>

<a href="{% url 'admstat' %}">Подтвердить</a>

    </form>
<a href="{% url 'main' %}" class="back">Назад</a>
</div>
</body>
</html>